<template>

    <div class="text-center">
        <h2 class="mb-4"><strong>{{ step.title }}</strong></h2>
        <p class="lead mb-3" v-if="step.subtitle">{{ step.subtitle }}</p>

        <div class="mb-2">
            <div class="btn btn-audio" @click="playAudio(step.audio)">
                <i class="fas fa-play-circle"></i>
            </div>
            <div class="btn btn-micro" @click="recordSound()">
                <span v-if="isRecording">{{ counter }}</span>
                <div v-else><i class="fas fa-microphone"></i></div>
            </div>
        </div>

        <p class="help-block text-muted mb-3">{{ helpBlock }}</p>

        <div class="d-flex justify-content-center mb-4">
            <div class="col-lg-8">
                <input :class="style" disabled v-model="answer" class="form-control form-control-lg">
            </div>
        </div>

    </div>

</template>

<script>
    export default {
        props: [
            'step',
        ],

        data: function () {
            return {
                answer: '',
                mediaRecorder: null,
                isRecording: false,
                counter: 5,
                helpBlock: '',
                style: '',
                messages: {
                    start: 'Click the microphone to start recording.',
                    error: 'We did\'t listen correctly, can you repeat please?',
                    recording: 'Recording',
                    wait: 'Processing your voice',
                    success: 'Loud & Clear!',
                },
            }
        },

        methods: {
            /**
             * Play audio
             *
             * @param audioUrl
             */
            playAudio(audioUrl) {
                new Audio(audioUrl).play();
            },

            /**
             * If we can record the user, prepare the options and record during 5 seconds.
             *
             * @param stream
             */
            onMediaSuccess(stream) {
                let interval;

                this.mediaRecorder = new MediaStreamRecorder(stream);

                interval = setInterval(() => {
                    this.counter--;

                    if (this.counter < 0) {
                        clearInterval(interval);
                        this.counter = 0;
                    }
                }, 1000);

                this.mediaRecorder.stream = stream;
                this.mediaRecorder.mimeType = 'audio/wav';
                this.mediaRecorder.sampleRate = 44100;
                this.mediaRecorder.recorderType = StereoAudioRecorder;
                this.mediaRecorder.audioChannels = 1;

                this.mediaRecorder.ondataavailable = this.onDataAvailable;
                this.mediaRecorder.start(5000);
                this.isRecording = true;
                this.helpBlock = this.messages.recording;
            },

            /**
             * Update the answer or ask the user to try again if it's empty.
             *
             * @param answer
             */
            updateAnswer(answer) {
                this.isRecording = false;
                this.counter = 5;

                if (answer.length === 0) {
                    this.helpBlock = this.messages.error;
                    return;
                }

                this.answer = answer;
                this.helpBlock = this.messages.success;
                this.$parent.$emit('set_answer', this.answer);
            },

            /**
             * Stop the recording.
             *
             * @param blob
             */
            onDataAvailable(blob) {
                this.mediaRecorder.stop();
                this.helpBlock = this.messages.wait;
                this.uploadToServer(blob);
            },

            /**
             * Try to start recording.
             */
            recordSound() {
                navigator.getUserMedia({audio: true}, this.onMediaSuccess, this.onMediaError);
            },

            /**
             * Ep! Something is not working. Print in the console.
             *
             * @param e
             */
            onMediaError(e) {
                console.error('media error', e);
            },

            /**
             * Send the audio file to the API to be processed.
             *
             * @param blob
             */
            uploadToServer(blob) {
                let audio = new File([blob], 'audio.wav', {type: 'audio/wav'});
                let data = new FormData();
                data.append('audio', audio);

                axios({
                    method: 'post',
                    url: '/api/app/speech-recognition',
                    data: data,
                    config: {headers: {'Content-Type': 'multipart/form-data'}}
                }).then((response) => {
                    this.updateAnswer(response.data);
                }).catch((response) => {
                    this.helpBlock = this.messages.error;
                });
            },

            /**
             * Show the solution.
             *
             * @param isSuccess
             */
            showSolution(isSuccess) {
                if (isSuccess) {
                    this.style = 'success';
                    return;
                }

                let solution = this.step.solutions[0].text;
                this.answer = solution.charAt(0).toUpperCase() + solution.slice(1);
                this.style = 'error';
            }

        },

        mounted() {
            this.helpBlock = this.messages.start;

            /**
             * Register the event to show the solution.
             */
            this.$parent.$on('show_solution', (isSuccess) => {
                this.showSolution(isSuccess);
            })
        }
    }
</script>
